@page
@model LogoutModel
<div class="bg-primary text-center text-white p-2"><h4>Log Out</h4></div>
<div class="m-2">
    <h6>You are logged out</h6>
    <a asp-page="Login" class="btn btn-secondary">OK</a>
</div>

@*This page calls the SignOutAsync method described in Table 39-2 to sign the application out of the application. The ASP.NET
Core Identity cookie will be deleted so that the browser will not include it in future requests (and invalidated the cookie, so that
requests will not be treated as authenticated even if the cookie is used again anyway)*@

@functions {
    public class LogoutModel : PageModel
    {
        private SignInManager<IdentityUser> signInManager;
        public LogoutModel(SignInManager<IdentityUser> signInMgr)
        {
            signInManager = signInMgr;
        }
        public async Task OnGetAsync()
        {
            await signInManager.SignOutAsync();
        }
    }
}
